<h1 class="animated fadeIn fast display-2 text-center align-middle font-weight-normal ">
    NomiUnal
</h1>



<div class="text-center animated fadeIn  d-flex">
    <div class="col ">

        <button (click)="navigateNewEmployee()" class="btn">
              <em class="fas fa-user-plus fa-6x puntero"></em>
          </button>
        <p class="mt-3 align-self-center">
            Añadir un Nuevo Empleado
        </p>

        <button (click)="navigateEmployeeInformation()" class="btn">
              <em class="fas fa-address-book fa-6x puntero"></em>
            </button>
        <p class="mt-3">
            Informacion de Empleados
        </p>

        <button (click)="navigateFireEmployee()" class="btn">
              <em class="fas fa-user-times fa-6x puntero"></em>
            </button>
        <p class="mt-3">
            Despido de Empleados
        </p>

        <button (click)="navigatePayroll()" class="btn">
              <em class="fas fa-receipt fa-6x puntero"></em>
            </button>
        <p class="mt-3">
            Estado de la Nomina



        </p>

        <button (click)="navigateLogin()" class="btn btn-danger mt-4 mb-4">
              <em class="fas fa-arrow-left"></em>
              salir
            </button>
    </div>
</div>