<h1 class="text-center mt-4 text-blue absolute-center"> Inacistencias </h1>
<div class="d-flex align-items-center absolute-center  ">
    <div class="col">
        <div class="card mb-4 d-flex align-items-center bg-yellow " style="max-width: 100000px;">
            <div class="row no-gutters ">

                <div class="card-body">
                    <h5 class="">
                        Para poder realizar el descuento en el salario de su empleado por favor seleccione la razon del descuento y escriba el monto del descuento
                    </h5>

                </div>
            </div>
        </div>
    </div>
</div>


<form class="mt-4 " autocomplete="off" [formGroup]="form" (ngSubmit)="save()">
    <div class="card-deck mt-4">
        <div class="card mb-3" style="max-width: 540px; border: none;">
            <div class="row no-gutters">
                <div class="">
                    <div class="col-md-4 mt-3">
                        <button (click)="selectActive(1)" class="btn" type="button">
                    <em class="fas fa-graduation-cap fa-4x " [class.aactivo]="licencia" ></em>
                  </button>
                    </div>
                </div>
                <div class="col m-1">
                    <h4 class="card-body">Licencia No Remunerada</h4>
                </div>
            </div>
        </div>

        <div class="card mb-3 " style="max-width: 540px; border: none;">
            <div class="row no-gutters ">
                <div class="">
                    <div class="col-md-4 mt-3">
                        <button (click)="selectActive(2)" class="btn" type="button">
                    <em class="fas fa-plane fa-4x"></em>
                  </button>
                    </div>
                </div>
                <div class="col m-2">
                    <h4 class="card-body">vacaciones</h4>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 540px; border: none;">
            <div class="row no-gutters">
                <div class="">
                    <div class="col-md-4 mt-3">
                        <button (click)="selectActive(3)" class="btn" type="button">
                    <em class="fas fa-hospital fa-4x"></em>
                  </button>
                    </div>
                </div>
                <div class="col m-1">
                    <h4 class="card-body">Incapacidad Justificada</h4>
                </div>
            </div>
        </div>

    </div>

    <div class="card-deck mt-4">

        <div class="card mb-3" style="max-width: 540px; border: none;">
            <div class="row no-gutters">
                <div class="">
                    <div class="col-md-4 mt-3">
                        <button (click)="selectActive(4)" class="btn" type="button">
                    <em class="fas fa-home fa-4x"></em>
                  </button>
                    </div>
                </div>
                <div class="col m-1">
                    <h4 class="card-body">Calamidad Domestica</h4>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 540px; border: none;">
            <div class="row no-gutters">
                <div class="">
                    <div class="col-md-4 mt-3">
                        <button (click)="selectActive(5)" class="btn" type="button">
                    <em class="fas fa-male fa-4x"></em>
                  </button>
                    </div>
                </div>
                <div class="col m-1">
                    <h4 class="card-body">Licencia De Paternidad</h4>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 540px; border: none;">
            <div class="row no-gutters">
                <div class="">
                    <div class="col-md-4 mt-3">
                        <button (click)="selectActive(6)" class="btn" type="button">
                    <em class="fas fa-female fa-4x"></em>
                  </button>
                    </div>
                </div>
                <div class="col m-1">
                    <h4 class="card-body">Licencia de maternidad</h4>
                </div>
            </div>
        </div>

    </div>

    <div class="card-deck mt-4">

        <div class="card mb-3" style="max-width: 540px; border: none;">
            <div class="row no-gutters">
                <div class="">
                    <div class="col-md-4 mt-3">

                    </div>
                </div>

            </div>
        </div>

        <div class="card mb-3" style="max-width: 540px; border: none;">
            <div class="row no-gutters">
                <div class="">
                    <div class="col-md-4 mt-3">
                        <button (click)="selectActive(7)" class="btn" type="button">
                    <em class="fas fa-times fa-4x"></em>
                  </button>
                    </div>
                </div>
                <div class="col m-1">
                    <h4 class="card-body">Incapaciadad no justificada</h4>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="max-width: 540px; border: none;">
            <div class="row no-gutters">
                <div class="">
                    <div class="col-md-4 mt-3">

                    </div>
                </div>

            </div>
        </div>


    </div>



    <div class="col center mt-4  absolute-center" *ngIf="active">



        <div class="form-row">

            <div class="col-md-6 md-form">
                <div class="row">
                    <em class="fas fa-calendar fa-4x  mr-3"></em>
                    <input mdbInput id="inicio" bsDatepicker [bsConfig]="{ isAnimated: true }" [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}" formControlName="inicio" type="text" class="form-control mt-2" placeholder="Inicio Vacaciones" style="max-width: 400px; max-height: 20px;">
                </div>
            </div>

            <div class="form-group col-md-6 md-form">
                <div class="row">
                    <em class="fas fa-calendar fa-4x  mr-3"></em>
                    <input mdbInput id="fin" bsDatepicker [bsConfig]="{ isAnimated: true }" [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}" formControlName="fin" type="text" class="form-control mt-2" placeholder="Fin Vacaciones" style="max-width: 400px; max-height: 20px;">
                </div>
            </div>
        </div>

        <div class="from-row">
            <div class="col-md-6 md-form">
                <input mdbInput id="descripcion" formControlName="descripcion" type="text" class="form-control" placeholder="descripcion">
                <label for="descripcion" class="">descripcion</label>

            </div>
        </div>

        <div class="row d-block mt-5 mb-2">

            <button type="submit" class="btn bg-blue float-right">
              <em class="far fa-save"></em>
              Guardar
        </button>
        </div>

    </div>
</form>



<div class="row d-block  mt-3">
    <button (click)="exit()" class=" btn btn-outline bg-yellow absolute-center" type="button">
    <em class="fas fa-arrow-left"></em>
    Regresar
    </button>